
<div class="dx-card wide-card">
    <div id="form-container">
        <div  style="width:600px;">
            <div class="login-form">
                @(Html.Partial("_PartialSatinAlmaForm"))
            </div>
        </div>
    </div>
</div>
