
@{
    ViewData["Title"] = "UretimIzle";
}



<div id="form-container">
    <div class="dx-card wide-card">
        @(Html.DevExtreme().Form<EPM.Production.Monitoring.Dto.Models.FilterModel>()
        .ID("edOnayliListe").ShowValidationSummary(true)
        .Items(items =>
        {
            items.AddGroup().ColCount(8).Items(groupItems =>
            {
                groupItems.AddSimpleFor(m => m.BRAND).Editor(ob => ob.Lookup().DataSource(d => d.Mvc().LoadParams(new { all = true }).Controller("Uretim").LoadAction("GetBrandList").Key("ID")).DisplayExpr("ADI").ValueExpr("ID")).IsRequired(false);
                groupItems.AddSimpleFor(m => m.SEASON).Editor(ob => ob.Lookup().DataSource(d => d.Mvc().LoadParams(new { all = true }).Controller("Uretim").LoadAction("GetSeasonList").Key("ID")).DisplayExpr("ADI").ValueExpr("ID")).IsRequired(false);
                groupItems.AddSimpleFor(m => m.MODEL).Editor(ob => ob.TextBox().ID("edModel")).IsRequired(false);
                groupItems.AddSimpleFor(m => m.COLOR).Editor(ob => ob.TextBox().ID("edColor")).IsRequired(false);
                groupItems.AddSimpleFor(m => m.ORDER_TYPE).Editor(ob => ob.Lookup().DataSource(d => d.Mvc().LoadParams(new { all = true }).Controller("Uretim").LoadAction("GetOrderList").Key("ID")).DisplayExpr("ADI").ValueExpr("ID")).IsRequired(false);
                groupItems.AddSimpleFor(m => m.PRODUCT_GROUP).Editor(ob => ob.Lookup().DataSource(d => d.Mvc().LoadParams(new { all = true }).Controller("Uretim").LoadAction("GetProductGroupList").Key("ID")).DisplayExpr("ADI").ValueExpr("ID")).IsRequired(false);
                groupItems.AddSimpleFor(m => m.BAND).Editor(ob => ob.Lookup().DataSource(d => d.Mvc().LoadParams(new { all = true }).Controller("Uretim").LoadAction("GetBandList").Key("ID")).DisplayExpr("ADI").ValueExpr("ID")).IsRequired(false);
                groupItems.AddButton().HorizontalAlignment(HorizontalAlignment.Left).VerticalAlignment(VerticalAlignment.Center)
                  .ButtonOptions(b => b.Text("FİLTRELE")
                      .Type(ButtonType.Default)
                      .Icon("fas fa-sign-in-alt")
                      .Width("100%")
                      .OnClick("UretimIzleFilter")
                      .UseSubmitBehavior(true)
              );

            });



        })
        .FormData(Model).ShowValidationSummary(false)
    )


        <div id="popupDetay"></div>
    </div>

    <div class="dx-card wide-card" id="weekDetailCard" style="width:265px;height:calc(100vh - 135px);display:inline-block;margin:0 2px">
        <div id="weekDetail"></div>
    </div>
    <div class="dx-card wide-card" id="productDetailCard" style="width:200px;height:calc(100vh - 135px);display:inline-block;margin:0 2px">
        <div id="productDetail"></div>
    </div>
</div>


<script>
    var weekDetail, productDetail;
    function UretimIzleFilter() { 
        var data = {
            BRAND: jQuery("[name=BRAND]").val(),
            SEASON: jQuery("[name=SEASON]").val(),
            BAND: jQuery("[name=BAND]").val(),
            MODEL: jQuery("[name=MODEL]").val(),
            COLOR: jQuery("[name=COLOR]").val(),
            ORDER_TYPE: jQuery("[name=ORDER_TYPE]").val(),
            PRODUCT_GROUP: jQuery("[name=PRODUCT_GROUP]").val()
        };
        $.ajax({
            type: "POST",
            url: '@Url.Action("UretimIzleFilter", "UretimIzle")',
            data: data,
            contentType: 'application/x-www-form-urlencoded',
            timeout: 180000,
            success: function (income, status, xmlRequest) {
                
                weekDetail= $("#weekDetail").dxList({
                    dataSource: new DevExpress.data.DataSource({
                        store: new DevExpress.data.ArrayStore({
                            key: "ID",
                            data: income
                        })
                    }),
                    height: "100%",
                    itemTemplate: function (data) {
                        var html = "<div> <span style='font-weight:bold;font-size:11px'>" + data.WEEK + ". Hafta</span> <span style='font-style:italic;color:indianred'> (" + moment(data.START_DATE).format("DD.MM.YYYY") + " - " + moment(data.END_DATE).format("DD.MM.YYYY") + ")</span></div>";
                        return html;
                    },
                    showSelectionControls: true,
                    selectionMode: "single", pageLoadMode: "scrollBottom",
                    onSelectionChanged: function (data) {
                        GetProductDetail(data.addedItems[0]);
                    }
                });

            }, beforeSend: function () {
                getLoadPanelInstance().show();
            }


        }).always(function () {
            getLoadPanelInstance().hide();
        });
    }

    function GetProductDetail(haftaModel) {
        data = {
            model: haftaModel,
            filterModel: {
                BRAND: jQuery("[name=BRAND]").val(),
                SEASON: jQuery("[name=SEASON]").val(),
                BAND: jQuery("[name=BAND]").val(),
                MODEL: jQuery("[name=MODEL]").val(),
                COLOR: jQuery("[name=COLOR]").val(),
                ORDER_TYPE: jQuery("[name=ORDER_TYPE]").val(),
                PRODUCT_GROUP: jQuery("[name=PRODUCT_GROUP]").val()
            }
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetProductList", "UretimIzle")',
            data: data,
            contentType: 'application/x-www-form-urlencoded',
            timeout: 180000,
            success: function (income, status, xmlRequest) {
                productDetail= $("#productDetail").dxList({
                    dataSource: new DevExpress.data.DataSource({
                        store: new DevExpress.data.ArrayStore({
                            key: "ID",
                            data: income
                        })
                    }),
                    height: "100%",
                    itemTemplate: function (data) {
                        var html = "<div> <span style='font-weight:bold;'>" + data.MODEL + "</span>.<span style='font-weight:bold'>" + data.COLOR + "</span></div>";
                        return html;
                    },
                    showSelectionControls: true, pageLoadMode: "scrollBottom",
                    selectionMode: "single",
                }).dxList("instance");

            }, beforeSend: function () {
                getLoadPanelInstance().show();
            }


        }).always(function () {
            getLoadPanelInstance().hide();
        });
    }


</script>
