
@model List<PRODUCTION_LIST_V>

@using EPM.Fason.Dto.Fason;
<div id="formContainer"> 
    <div class="dx-card wide-card">
        @(Html.DevExtreme().DataGrid<EPM.Fason.Dto.Fason.PRODUCTION_LIST_V> ().ID("edgridProcess")
    .DataSource( Model)
    .Export(e =>
    {
        e.Enabled(true);
    })
    .RemoteOperations(true)
    .FocusedRowEnabled(true)
    .FocusedRowIndex(0)
    .ShowRowLines(true)
    .ShowColumnLines(true)
    .ColumnHidingEnabled(false)
    .Height("calc(100vh - 450px)")
    .ShowBorders(true)
    .Columns(columns => {
        columns.AddFor(m => m.DETAIL_ID).Width(70).Visible(false).AllowSorting(false).SortIndex(0).SortOrder(SortOrder.Desc).AllowEditing(false).AllowExporting(true);
        columns.AddFor(m => m.HEADER_ID).Width(70).Visible(false).AllowSorting(false).AllowEditing(false).AllowExporting(true);
        columns.AddFor(m => m.ENTEGRATION_ID).Width(70).AllowSorting(false).Visible(false).AllowEditing(false).AllowExporting(true);
        columns.AddFor(m => m.PROCESS_NAME).Width(170).AllowSorting(false).AllowExporting(true);
        columns.AddFor(m => m.STATUS_EX).Width(170).AllowSorting(false).AllowExporting(true);
        columns.AddFor(m => m.START_DATE).Width(170).AllowSorting(false).Format("dd.MM.yyyy").AllowExporting(true);
        columns.AddFor(m => m.END_DATE).Width(170).AllowSorting(false).Format("dd.MM.yyyy").AllowExporting(true);
    })
    )
    </div>

</div>
