<div class="dx-card wide-card">
    <div style="width:30%;display:inline-block;float:left">
        @(Html.DevExtreme().DataGrid<EPM.Dto.Base.EPM_PRODUCTION_BAND_CAPASITIES> ().ID("edgridHeader")
    .ShowBorders(false)
    .DataSource(
        ob=>ob.Mvc().Controller("UretimPlan") 
        .LoadAction("KapasitePlanListLoad")
        .UpdateAction("KapasitePlanListUpdate")
        .Key("ID")
    )
    .FilterRow(f => f.Visible(true))
    .FocusedRowEnabled(true)
    .FocusedRowIndex(0)
    .Selection(s => s.Mode(SelectionMode.Single))
    .ColumnAutoWidth(true)
    .ShowBorders(true)
    .Scrolling(ob=>ob.Mode(GridScrollingMode.Virtual))
    .Editing(ob => ob.Mode(GridEditMode.Cell).AllowUpdating(true).AllowDeleting(false).AllowAdding(false))
    .ShowColumnLines(true)
    .ShowColumnHeaders(true)
    .ColumnMinWidth(60)
    .Scrolling(ob=>ob.Mode(GridScrollingMode.Virtual))
    .Columns(columns => {
        columns.AddFor(m => m.ID).Width(60).AllowEditing(false);
        columns.AddFor(m => m.BAND_ID).Width(110).Caption("BAND").AllowEditing(false).Lookup(look => look.DataSource(d => d.Mvc().LoadParams(new { all = false }).Controller("Uretim").LoadAction("GetBandList").Key("ID")).DisplayExpr("ADI").ValueExpr("ID"));
        columns.AddFor(m => m.CAPACITY).Width(110).AllowEditing(true);
    })
    )
    </div>
    <div style="display:inline-block;float:left;">
        @(Html.DevExtreme().Chart().DataSource(
        ob=>ob.Mvc()
        .Controller("UretimPlan")
        .LoadAction("KapasitePlanListChartLoad")
        .Key("ID")
        ).Series(s=>s.Add().ArgumentField("BAND_NAME").ValueField("CAPACITY").Name("BAND CAPACITIES") 
        .Type(SeriesType.Bar)).Size(s=>s.Height(320).Width(600)))
    </div>
   
</div>