@model List<EPM.Fason.Dto.Fason.AQL_MODEL>

@{ 
    Console.WriteLine(Model);
}
<div class="dx-card wide-card">
    @(Html.DevExtreme().DataGrid<EPM.Fason.Dto.Fason.AQL_MODEL>().ID("edAQL")
    .ShowBorders(false)
    .FilterRow(f => f.Visible(true))
    .FocusedRowEnabled(true)
    .FocusedRowIndex(0)
    .Selection(s => s.Mode(SelectionMode.Single))
    .ColumnAutoWidth(true)
    .GroupPanel(ox=>ox.Visible(true))
    .Grouping(x=>x.ContextMenuEnabled(true))
    .ShowBorders(true)
    .HeaderFilter(a=>a.Visible(true))
    .Scrolling(ob => ob.Mode(GridScrollingMode.Virtual))
    .Height("calc(100vh - 200px)")
    .ColumnChooser(ch=>ch.Enabled(true).Mode(GridColumnChooserMode.Select))
    .ShowColumnLines(true)
    .ShowColumnHeaders(true)
    .ColumnMinWidth(60)
    .AllowColumnResizing(true)
    .Columns(columns => {
        columns.AddFor(x => x.PRODUCT_SIZE);
        columns.AddFor(x => x.MINOR_QUANTITY);
        columns.AddFor(x => x.MAJOR_QUANTITY);
        columns.AddFor(x => x.QUESTION);
    }).DataSource(Model)
    //.OnCellPrepared("edUretimTakipGridCellPrepared")
    )
</div>
