
@model int
<div class="dx-card wide-card">
    @(Html.DevExtreme().DataGrid<EPM.Fason.Dto.Fason.PRODUCTION_AQL_INLINE>().ID("edgridHeader")
                    .ShowBorders(false)
                    .DataSource(d => d.Mvc()
        .Controller("Inspection")
        .LoadAction("GetInspectionInlineAQL")
        .LoadParams(new { ENTEGRATION_HEADER_ID = Model })
        .InsertAction("InsertInspectionLine")
        .UpdateAction("UpdateInspectionLine")
        .DeleteAction("DeleteInspectionLine")
        .Key("ID")
    )
    .FocusedRowEnabled(true)
    .FilterRow(x=>x.Visible(true))
    .FocusedRowIndex(0)
    .Selection(s => s.Mode(SelectionMode.Single)) 
    .ColumnAutoWidth(true)
    .ShowBorders(true)
    .Height("500px")
    .Scrolling(sc=>sc.Mode(GridScrollingMode.Virtual))
    .HeaderFilter(x=>x.Visible(true))
    .Editing(ob => ob.Mode(GridEditMode.Cell).StartEditAction(GridStartEditAction.Click).AllowUpdating(true).AllowDeleting(true).AllowAdding(true))
    .ColumnResizingMode(ColumnResizingMode.Widget)
    .AllowColumnResizing(true)
    .AllowColumnReordering(true)
    .ShowColumnLines(true)
    .ColumnChooser(ch => { ch.Mode(GridColumnChooserMode.Select);ch.Enabled(true); })
    .ShowColumnHeaders(true)
    .ColumnMinWidth(60)
    .OnInitNewRow(@<text>
    function(e){
    console.log(e);
    e.data.HEADER_ID = @Model
    }
    </text>)
    .Columns(columns =>
    {
        columns.Add().Width(50).Type(GridCommandColumnType.Buttons).Buttons(btn =>
        {
            btn.Add().Name(GridColumnButtonName.Delete);
        });

        columns.AddFor(m => m.ID).Width(60).AllowEditing(false);
        columns.AddFor(m => m.PROCESS_ID).Width(110).Lookup(look => look.DataSource(d => d.Mvc().LoadParams(new { all = false }).Controller("Inspection").LoadAction("GetProcessList").Key("ID")).DisplayExpr("NAME").ValueExpr("ID"));
        columns.AddFor(m => m.DESCRIPTION);
    })
    )
</div>

