@model List<EPM.Fason.Dto.Fason.INSPECTION_LIST>

<div class="dx-card wide-card">
    @(Html.DevExtreme().DataGrid<EPM.Fason.Dto.Fason.INSPECTION_LIST>().ID("edInspectionList")
    .ShowBorders(false)
    .KeyExpr("ID")
    .FilterRow(f => f.Visible(true))
    .FocusedRowEnabled(true)
    .FocusedRowIndex(0)
    .Selection(s => s.Mode(SelectionMode.Single))
    .ColumnAutoWidth(true)
    .ShowBorders(true)
    .HeaderFilter(a=>a.Visible(true))
    .Scrolling(ob => ob.Mode(GridScrollingMode.Virtual))
    .Height("calc(100vh - 200px)")
    .ColumnChooser(ch=>ch.Enabled(true).Mode(GridColumnChooserMode.Select))
    .ShowColumnLines(true)
    .ShowColumnHeaders(true)
    .ColumnMinWidth(60)
    .AllowColumnResizing(true)
    .Columns(columns =>
    {
        columns.Add().Width(50).Type(GridCommandColumnType.Buttons).Buttons(btn =>
        {
            btn.Add().Icon("fa fa-history").OnClick("InspectionListAQLSearch");
        });
        columns.Add().Width(50).Type(GridCommandColumnType.Buttons).Buttons(btn =>
        {
            btn.Add().Icon("fa fa-comments").OnClick("InspectionListInlineAQLSearch");
        });
        columns.AddFor(m => m.START_DATE).Format("dd.MM.yyyy");
        columns.AddFor(m => m.BRAND).Caption("MARKA");
        columns.AddFor(m => m.SEASON).Caption("SEZON");
        columns.AddFor(m => m.MODEL).Caption("MODEL");
        columns.AddFor(m => m.COLOR).Caption("RENK");
        columns.AddFor(m => m.STATUS).Caption("DURUM");
        columns.AddFor(m => m.INSPECTOR).Caption("KONTROL EDEN");
        columns.AddFor(m => m.FIRMA).Caption("FİRMA");
        columns.AddFor(m => m.TYPEEX).Caption("İŞLEM TİPİ");
        columns.AddFor(m => m.TYPE).Visible(false);
        columns.AddFor(m => m.QUANTITY).Caption("SİPARİŞ ADET");
        columns.AddFor(m => m.QUANTITY_RELEASE).Caption("ÜRETİLEN ADET");
        columns.AddFor(m => m.QUANTITY_SAMPLE).Caption("NUMUNE ADET");
        columns.AddFor(m => m.ENTEGRATION_HEADER_ID).Visible(false);
    })
    .Summary(sm =>
    {
        sm.TotalItems(t =>
        {
            t.AddFor(ob => ob.MODEL).SummaryType(SummaryType.Count).CustomizeText(@<text>function(data){return data.value}</text>);
            t.AddFor(ob => ob.QUANTITY).SummaryType(SummaryType.Sum).CustomizeText(@<text>function(data){return data.value}</text>);
            t.AddFor(ob => ob.QUANTITY_RELEASE).SummaryType(SummaryType.Sum).CustomizeText(@<text>function(data){return data.value}</text>);
            t.AddFor(ob => ob.QUANTITY_SAMPLE).SummaryType(SummaryType.Sum).CustomizeText(@<text>function(data){return data.value}</text>);
        });
    }).DataSource(Model) 
    )
</div>
