<div style='width:65%;display:inline-block;float:left'>
    <div id='gridForm'></div>
    <div id='values1'>
        <div id='aqlStandart' class='gauge-manuel' style='float:left;text-align: right;color:green'></div>
        <div id='aqlValidation' class='gauge-manuel' style='float:right;text-align: left;color:indianred'></div>
        <div id='formInformation'>....</div>
    </div>
</div>
<div id='gridNumbers' style='width:35%;display:inline-block;float:right'></div>
<div style='clear:both'>
    <div id='gridAQL'></div>
</div>
<div id='saveButton' style='margin-top:10px;width:48%;float:left;display:inline-block'></div>
<div id='inlineAQLButton' style='margin-top:10px;width:48%;float:right;display:inline-block'></div> 