
@{
    ViewData["Title"] = "SiparisListesi";
    Layout = "~/Views/Shared/_LayoutInspection.cshtml";
}
@model EPM.Fason.Dto.Fason.INSPECTION_FILTER
<div id="form-container">
    <div class="dx-card wide-card">
        @(Html.DevExtreme().Form<EPM.Fason.Dto.Fason.INSPECTION_FILTER>()
        .ID("edOnayliListe").ShowValidationSummary(true)
        .ColCount(Mode.Auto)
        .MinColWidth(150)
        .Items(items =>
        {
            items.AddSimpleFor(m => m.FIRMA_ID).Editor(ob => ob.Lookup().DataSource(d => d.Mvc().LoadParams(new { all = true }).Controller("Inspection").LoadAction("GetFasonUsers").Key("ID")).DisplayExpr("NAME").ValueExpr("ID")).IsRequired(false);
            items.AddSimpleFor(m => m.SEASON).Editor(ob => ob.Lookup().DataSource(d => d.Mvc().LoadParams(new { all = true }).Controller("Inspection").LoadAction("GetSeasonList").Key("ADI")).DisplayExpr("ADI").ValueExpr("ADI")).IsRequired(false);
            items.AddSimpleFor(m => m.MODEL_RENK).Editor(ob => ob.Lookup().DataSource(d => d.Mvc().LoadParams(new { all = true }).Controller("Inspection").LoadAction("GetModelRenk").Key("ADI")).DisplayExpr("ADI").ValueExpr("ADI")).IsRequired(false);
            items.AddEmpty();
            items.AddButton().HorizontalAlignment(HorizontalAlignment.Right).VerticalAlignment(VerticalAlignment.Center)
                   .ButtonOptions(b => b.Text("FİLTRELE")
                       .Type(ButtonType.Default)
                       .Icon("fas fa-sign-in-alt")
                       .Width("100%")
                       .OnClick("FasonSiparisFiltrele")
                       .UseSubmitBehavior(true)
               );

        })
        .FormData(Model).ShowValidationSummary(false)
    )
        <div id="popup"></div>
        <div id="popupDetay"></div>
        <div id="popupDetay2"></div>
        <div id="edListe" style="display:inline-block;float:left; width:70%"> </div>
        <div id="edListeDetail" style="display: inline-block; float: right; width: 29%"> </div>
        <div id="edListeProcess"></div>
    </div>
</div>